<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head('ログイン', ~{::links})}">
    <th:block th:fragment="links">
        <link rel="stylesheet" th:href="@{/css/login.css}">
    </th:block>
</head>
<body>
  <div class="container mt-4 mb-4">
      <div class="card p-4 w-50 mx-auto"style="margin:13%;margin-bottom:auto;border:2px solid #ffa500;">
    <div th:if="${param.error}" style="color:red">
        名前、またはパスワードが違います
    </div>
    <div th:if="${param.register}" style="color:#ffa500">
        アカウント作成に成功しました!
    </div>
    <form th:action="@{/login}" method="post">
      <div style="text-align: center;padding-bottom: 20px;">
      <img th:src="@{/img/logo.png}"alt="ロゴ" style="width: 260px; height: 80px;left: 50%;">
      </div>  
      <div class="mb-3"style="text-align: center;display: flex;justify-content: center;align-items: center;">
            <input type="text" name="username"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="名前"style="border:2px solid #ffa500;outline:none; box-shadow: 0 0 0 0.2rem rgba(255,255,255,1);width: 350px; height:40px;">
        </div>
        <div class="mb-3" style="text-align: center;display: flex;justify-content: center;align-items: center;margin-top: 30px;">
            <input type="password"name="password"class="form-control" id="exampleInputPassword1" placeholder="パスワード"style="border:2px solid #ffa500;outline:none; box-shadow: 0 0 0 0.2rem rgba(255,255,255,1);width: 350px; height:40px;">
        </div>
        <div style="display: flex; align-items: center;margin-top: 30px;">
            <button type="submit" class="btn btn-primary"style="color:#ffa500;background-color:#ffff93;border:2px solid #ffa500; margin:auto">ログイン</button>
            <a sec:authorize="isAnonymous()" th:href="@{/register}" class="btn btn-primary"style="color:#ffa500;background-color:#ffff93;border:2px solid #ffa500; margin:auto;">アカウント作成</a>
        </div>
    </form>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
