.all{
    background-color: #ffefe0;
    max-height: fit-content;
    margin: 25px 50px;
    color: #ff4747;
    padding: 30px;
}
h2{
    margin-top: 30px;
    margin-bottom: 30px;
}
.label{
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}
button {
  background-color: #ffffff;
  border: 2px solid #ffa500;
  color: #ff4747;
  text-align: center;
  padding: 5px 12px;
  margin: 5px 0;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #ffeaaa;
}