@font-face {
  font-family: 'MyFont';
  src: url('/static/fonts/two-Black.ttf') format('truetype');
}
.all{
    background-color: #ffffe0;
    max-height: fit-content;
    margin: 20px 50px;
    color:#ff4747;
    padding-bottom: 60px;
    font-family: 'MyFont', sans-serif;
    font-weight: normal;
}


.design03 {
 width: 100%;
 margin: 0 auto;
 max-width: fit-content;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
 border-top: solid 1px #85514B;
}
.design03 tr:nth-child(2n+1) {
 background: #FFFFFF;
}
.design03 th,
.design03 td {
 padding: 10px;
 border-bottom: solid 1px #85514B;
}  
a{
    color: #FF4747;
    text-decoration: none;
}

.design03 tr:nth-child(even) button {
  background-color: #ffffe0;
}
.design03 tr:nth-child(even) button:hover {
  background-color: #ffeaaa;
}
.design03 button {
  background-color: #ffffff;
  border: 2px solid #ffa500;
  color: #ff4747;
  text-align: center;
  padding: 5px 12px;
  margin: 5px 0;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
.design03 td form {
  display: inline-block;
  margin: 0 5px;
}
.design03 button:hover {
  background-color: #ffeaaa;
}
h2 {
  position: relative;
  background:#ffddbc;
  box-shadow: 0px 0px 0px 5px #ffddbc;
  border: dashed 2px rgb(255, 110, 110);
  padding: 0.2em 0.5em;
  color: #ff0000;
}
h2:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #FFA8B7;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
h2{
    max-width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
}
.div1{
    display: flex;
    margin: 0 auto;
    max-width: fit-content;
    text-align: center;
}
.div2{
  max-width: fit-content;
    text-align: center;
    min-width: 400px;
}
/* h2{
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
    justify-content: center; 
} */
.cat1{
  width: 300px;
  height: 300px;
  opacity: 0.3;
  margin-right: 100px;
  margin-top: 30px;
}
.cat2{
  width: 300px;
  height: 300px;
  opacity: 0.3;
  margin-left: 100px;
  margin-top: 30px;
}

/* .div2{
  display: flex;
} */
/* tr{
  color: black;
} */