
.all{
    background-color: #ffffe0;
    max-height: fit-content;
    margin: 20px 50px;
    color: #ff4747;
    padding: 30px;
}
a{
    color: #ff4747;
    text-decoration: none;
}
.div1{
    margin: 10px 170px;
    align-items: center;
    text-align: center;
}
/* .date{
    margin: 20px 20px;
} */




.design03 {
/* margin: 20px; */
 max-width: fit-content;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
 border: solid 1px #85514b;
}
.design03 tr:nth-child(2n+1) {
 background: #ffffff;
}
.design03 th,
.design03 td {
 padding: 10px;
 border-bottom: solid 1px #85514b;
}
/* tr{
  color: black;
} */
img{
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.balloon4 {
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 15px;
  background: #fff0c6;
  border-radius: 30px;
  display: flex;
}

.balloon4:before {  
  content: "";
  position: absolute;
  left: -38px;
  width: 13px;
  height: 12px;
  bottom: 0;
  background: #fff0c6;
  border-radius: 50%;
}

.balloon4:after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: 3px;
  background: #fff0c6;
  border-radius: 50%;
}
/* .balloon4 p {
  margin: 0; 
  padding: 0;
} */
.h2{
    margin-bottom: 20px;
    margin-left: 365px;
}
#js-result{
  width: 270px;
  height: 270px;
  margin: 0px 300px;
}
.all2{
  display: flex;
}
#warningMessage{
  text-align: center;
  font-size: 25px;
}