<!DOCTYPE html>
<html lang ="ja" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout :: head(ホーム画面, ~{::links})}">
        <th:block th:fragment="links">
            <link rel="stylesheet" th:href="@{/css/home.css}">
        </th:block>
    </head>
    <body>
        <div th:replace="~{layout :: header}"></div>
        <div class="all">
            <div id="warningMessage" style="color: red;"></div>
        <div style="display: flex;  align-items: center;"class="div1">
            <div style="display: flex; margin: 20px 10px;">
                <form th:action="@{/budget}" method="get">
                    <div style="display: flex;">
                        <img th:src="@{/img/girl.png}"alt="今月の予算">
                        <div class="balloon4">
                            <h3 style="margin-right: 20px">今月の予算</h3>
                            <h3 th:if = "${budget == null}" style="margin-right: 20px" th:text="予算を設定してください">予算表示</h3>
                            <h3 th:if = "${budget != null}" style="margin-right: 20px" th:text="${budget + '円'}">予算表示</h3>
                        </div>
                    </div>
                </form>
            </div>
                    <div style="display: flex;margin: 20px 10px;">
                        <img th:src="@{/img/boy.png}"alt="今月の収支">
                        <div class="balloon4">
                            <h3 style="margin-right: 20px;">今月の支出</h3>
                            <h3 th:text="${expenseSum + '円'}">支出表示</h3>
                        </div>
                    </div>
            </div>
        <div>
            <div th:if="${error}" th:text="${error}" style="color:red">sample message</div>
        </div>
        <div class="date">
            <h2 class="h2"><span id="current-month"></span>の収支</h2>
        </div>
        <div class="all2">
        <!-- グラフを表示するコンテナ -->
        <div id="js-result"></div>
        <table class="design03">
            <thead>
                <tr>
                    <th>収入・支出</th>
                    <th>メモ</th>
                    <th>金額</th>
                    <!-- <th>リリース日</th>
                    <th>曲数</th>
                    <th></th> -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="album : ${IEList}">
                    <td th:if="${album.type==0}"><span th:text="収入">album id</span></td>
                    <td th:if="${album.type==1}"><span th:text="支出">album id</span></td>
                    <td><span th:text="${album.category}">album title</span></a></td>
                    <td><span th:text="${album.amount}">album artist</span></td>
                    <!-- <td><span th:text="${album.releaseDate}">album releaseDate</span></td>
                    <td><span th:text="${album.musicCount}">album musicCount</span></td> -->
                    <!-- <td>
                        <form th:action="@{/albums/{albumId}/edit(albumId=${album.albumId})}" method="get">
                            <button type="submit">編集</button>
                        </form>
                        <form th:action="@{/albums/{albumId}/delete(albumId=${album.albumId})}" method="post">
                            <button type="submit" onclick="return confirm('本当に削除しますか？　');">削除</button>
                        </form>
                    </td> -->
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <!-- Chart.jsライブラリの読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
        // 現在の月を取得
        const date = new Date();
        const month = date.getMonth() + 1; // 月は0から始まるため+1
        document.getElementById('current-month').textContent = month + "月";
        
    </script>
    <!-- Chart.jsライブラリの読み込み -->
     <script th:inline = "javascript">
        const incomeSum = /*[[${incomeSum}]]*/ 0;
        const expenseSum = /*[[${expenseSum}]]*/ 0;
        const budget = /*[[${budget}]]*/ 0;
        const chartData = [incomeSum,expenseSum];

        if (expenseSum > budget) {
            document.getElementById('warningMessage').textContent = '⚠ 支出が予算額を上回りました ⚠';
        }else if(expenseSum > budget * 0.8) {
            document.getElementById('warningMessage').textContent = '⚠ 支出が予算額を上回りそうです！';
        }
     </script>
    <script th:src="@{/js/engurafu.js}"></script>
    </body>
</html>