<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout :: head(アルバム一覧, ~{::links})}">
        <th:block th:fragment="links">
            <link rel="stylesheet" th:href="@{/css/add.css}">
        </th:block>
    </head>
    <body>
        <div th:replace="~{layout :: header}"></div>
     <div class="all">
        <div id="container"></div>
     <div class="div1">
    <!-- <img th:src="@{/img/cat1.png}" class="cat1" alt="猫１"> -->
     <script type="text/javascript">
        var imglist = new Array(
            "/img/cat1.png",
            "/img/cat2.png",
            "/img/cat3.png",
            "/img/cat4.png",
            "/img/cat5.png",
            "/img/cat6.png",
            "/img/cat7.png",
            "/img/cat8.png",
            "/img/cat9.png",
            "/img/cat10.png"
        );
        var selectnum = Math.floor(Math.random() * imglist.length);
        var output = "<img src=" + imglist[selectnum] + " class='cat1'>";
        document.write(output);
    </script>
    <div>
    <h2>収入と支出の追加</h2>            
        
        <form th:action="@{/albums/new}" th:object="${albumForm}" method="post">
            <fieldset class="radio-2">
                <label>
                    <input type="radio" name="radio-2" checked/>
                    収入
                </label>
                <label>
                    <input type="radio" name="radio-2"/>
                    支出
                </label>
            </fieldset>
            <div>
                <label for="title" class="label">メモ</label>
                <input type="text" id="title" name="title" th:field="*{title}">
            </div>
            <div>
                <label for="artist"class="label">金額</label>
                <input type="text" id="artist" name="artist" th:field="*{artist}">
            </div>
            <button type="submit">追加</button>
        </form>
    </div>
    <!-- <img th:src="@{/img/cat2.png}" class="cat2" alt="猫2"> -->
          <script type="text/javascript">
        var imglist = new Array(
            "/img/cat1.png",
            "/img/cat2.png",
            "/img/cat3.png",
            "/img/cat4.png",
            "/img/cat5.png",
            "/img/cat6.png",
            "/img/cat7.png",
            "/img/cat8.png",
            "/img/cat9.png",
            "/img/cat10.png");
        var selectnum = Math.floor(Math.random() * imglist.length);
        var output = "<img src=" + imglist[selectnum] + " class='cat2'>";
        document.write(output);
    </script>
    </div>
    </body>
</html> 
